[2019-11-19 09:09] sittingbool opened #1 "Import errors"
Hi, I am using a default typescript config. And its telling me that it does not find your module. How do you import it?
I am trying `import ImporterFactory from 'xlsx-import/ImporterFactory'` but I tried several other ways as well.

[2019-11-19 09:13] sittingbool commented on #1
Found the error.
Your package json specifies a `"types": "lib/index.d.ts",` but there is no index.d.ts in your project

[2019-11-19 09:15] sittingbool commented on #1
Workaround: specify path directly: `import ImporterFactory from 'xlsx-import/lib/ImporterFactory';`

[2019-12-19 11:41] Siemienik commented on #1
@sittingbool Thank you for using this one and finding issue :)

[2019-12-19 12:14] Siemienik commented on #1
resolved, now (in version 2.0.2) you can use `import ImporterFactory from 'xlsx-import'`

[2019-12-19 14:26] #1 closed

[2020-01-11 23:52] Siemienik opened #91 "[Proposal]Wiki docs"
It's a lot of documentation in source code, for example here:
https://github.com/Siemienik/xlsx-renderer/blob/release/v1/src/xls-renderer/cell/ForEachCell.js#L5

[code]

It's nice to have it on Wiki 🥇

[2020-02-08 22:07] Siemienik opened #92 "[Proposal] Write microservices with docker image"
The proposition is to write a microservice for xlsx render and xlsx-import.
It will be a small nodejs app + docker file, and docker image with the current version.

[2020-04-14 15:11] Siemienik opened #4 "Check browser support"

[2020-04-14 15:11] Siemienik opened #5 "check node 6-13 support"

[2020-04-14 15:12] Siemienik opened #6 "Add some examples TS&JS"

[2020-04-28 12:44] Siemienik opened #7 "[Proposal] Horizontal list"
Read data column by column

[2020-04-28 12:45] Siemienik opened #8 "[Proposal] Dynamic columns"
Sometimes happens that the columns are in a different order. It should match column headers and set property index for each column

[2020-05-25 18:06] Siemienik opened #94 "Renderer command line interface"
# Introduction

Solving this issue should allow using `xlsx-renderer` from the command line.

# Example:

![image](https://user-images.githubusercontent.com/2893099/90319353-a3a64680-df37-11ea-9dea-2da339809bc6.png)

## proposed usages:

[code]

## command body:

`sxr [options] <template> [model]`

*Arguments*

* `<template>` indicate which file is used as the template
* `[model]` view model as a

[2020-07-03 00:59] Siemienik opened #10 "The xlsx-import Command Line Interface"
# The `xlsx-import-cli` package

We have cli for renderer, now we should add cli for the import. I blocked this issue earlier, because I was doubts about setting mappers in `json` config file - however it isn't a problem if we use `js` files.

## Usage:

[code]

## Requirements

* Added into ./packages/xlsx-import-cli
* NPM package name: sxi (reserved on npm)
* The interface: `sxi [-o <output-file

[2020-07-03 00:59] Siemienik opened #11 "[Proposal] micoservice"

[2020-07-08 12:50] Siemienik opened #12 "Add information about other projects"
* XlsxRenderer
* Ts package structure

[2020-07-20 21:59] Siemienik opened #96 "Renderer update test fixtures: update useing of `__iterated` to `__last`"
as mention https://github.com/Siemienik/xlsx-renderer/issues/20#issuecomment-661352493
in test's files were used wrong for each special var `__finished`, please to update it to `__last`

[2020-07-29 22:20] #12 closed

[2020-10-01 04:54] fnick851 opened #15 "[Q&A] How to handle multiple rows of headers?"
Hi, how to read sheet with multiple rows of header? Is it possible at all? (For example, first row we have gender spanning two cells, second row we have male and female each in one cell, is it possible to preserve this data?) Thanks!

[2020-10-01 05:09] fnick851 opened #16 "[Q&A] What is the "index" variable?"
Index: 5 for author, index: 2 for title - what do these do?

[2020-10-01 12:25] Siemienik commented on #15
Yes it is by using `rowOffset: 2`

[code]

[2020-10-01 12:32] Siemienik commented on #16
For type 'list' it is column index:

column A is indexed 1
column B is indexed 2
...
column E is indexed 5

[2020-10-01 17:51] fnick851 commented on #16
@Siemienik Thanks for the answer!

[2020-10-01 17:51] #16 closed

[2020-10-01 17:56] fnick851 commented on #15
@Siemienik  Thanks. Are all cells parsed as string by default without a mapper?

[2020-10-01 21:07] Siemienik commented on #15
Default mapper is defined by code `(v: string) => v`.

Source code:
https://github.com/Siemienik/xlsx-import/blob/be72568ed68b1922c81731e45beecd89c3283ce9/src/Importer.ts#L22
and:
https://github.com/Siemienik/xlsx-import/blob/be72568ed68b1922c81731e45beecd89c3283ce9/src/Importer.ts#L41

[2020-10-01 21:12] fnick851 commented on #15
@Siemienik Thank you!

[2020-10-01 21:12] #15 closed

[2020-10-01 21:50] Siemienik opened #18 "[REFACTORING] : introduce const MAPPER_DEFAULT"
# Actual

Current default mapper is defined implicitly in two places:
https://github.com/Siemienik/xlsx-import/blob/be72568ed68b1922c81731e45beecd89c3283ce9/src/Importer.ts#L22
https://github.com/Siemienik/xlsx-import/blob/be72568ed68b1922c81731e45beecd89c3283ce9/src/Importer.ts#L41

# Expected

The default mapper should be defined explicitly as a const `MAPPER_DEFAULT` (or some name like that)

[2020-10-01 22:04] Siemienik commented on #5
After #17

8 | 9 | 10 | 11 | 12 | 13 | 14
--|---|---|---|----|---|---
❌ | ❌ | ✅ | ✅ | ✅ | ✅ | ✅

Node v8 and v9 compatibly was drop after upgrade ExcelJS and it is able to turn on by downgrading to version 2.2.1 or by request me directly.

[2020-10-01 22:05] #5 closed

[2020-10-02 01:14] cmwalshWVU commented on #18
Hi I would like to work this issue for you.  Can I please have write access to this project to push my branch? Thank you

[2020-10-02 02:19] #18 closed

[2020-10-02 02:37] Siemienik commented on #18
@cmwalshWVU

Hi, I nice to hear that :) it is awesome, that some other peoples than me wants to contribute this project ❤️

I can not give you write access, however you have a possibility to fork repo by the button on up&right display corner

![image](https://user-images.githubusercontent.com/2893099/94882159-8259d500-0467-11eb-95a9-47a134f0c399.png)

Then this repo should be clone on your profile

[2020-10-02 03:03] lowkeypriority commented on #18
@Siemienik Thank you.

It would be great if you could do this. This will make it easier to contribute and implement your ideas :)

[2020-10-02 20:25] Siemienik opened #21 "Common mappers implementation"
The PR Siemienik/xlsx-import#20 refactor how the code is organised. Among others there was created new layer called `mappers` (`src/mappers`) and here I will describe how I plan to expand it.

**Remark:**

_I marked this issue as `good first issue` because it contains list of simple and well described issues. Good practice is create one PR for one of these issues._

# Actual

There is only file na

[2020-10-02 20:39] Siemienik opened #22 "Add lowerCaseMapper into mappers"
Part of #21

# TODO:

1. [ ] Create file `src/mappers/lowerCaseMapper.ts` with function matches to type ` (v: string): string`. Which for any input try to return only lower case string.
2. [ ] reexport it in `src/mappers/index.ts`
3. [ ] Prove that it works in unit test (create new one in `tests/unit/mappers.test.ts`)
4. [ ] Describe it in Readme.md (Mappers section doesn't exists, please to add)

[2020-10-02 20:41] Siemienik commented on #18
I've create first one:
https://github.com/Siemienik/xlsx-import/issues/22
next I will add if only find some free time  :)

[2020-10-02 21:05] Siemienik opened #23 "Add upperCaseMapper into mappers"
Part of #21

# TODO:

1. [ ] Create file `src/mappers/upperCaseMapper.ts` with function matches to type ` (v: string): string`. Which for any input try to return only upper case string.
2. [ ] reexport it in `src/mappers/index.ts`
3. [ ] Prove that it works in unit test (create new one in `tests/unit/mappers.test.ts`)
4. [ ] Describe it in Readme.md

## test data provider:

[code]

[2020-10-02 21:15] Siemienik opened #24 "Add splitMapper into mappers"
Part of #21

# TODO:

1. [x] Create file `src/mappers/splitMapper.ts` with function matches to type ` (v: string): string[]`. Which for any input try to return only lower case string.
2. [x] reexport it in `src/mappers/index.ts`
3. [x] Prove that it works in unit test (create new one in `tests/unit/mappers.test.ts`)
4. [x] Describe it in Readme.md

## test data provider:

[code]

# Further (not in

[2020-10-02 21:41] Siemienik commented on #16
---
[_❤️ Sponsor me_](https://github.com/sponsors/Siemienik)

[2020-10-02 21:45] Siemienik commented on #15
Hey, do you want to support my work? [**❤️ Sponsor me**](https://github.com/sponsors/Siemienik)
Your issue is stuck? I can make it done, contact me for further info :)

[2020-10-02 21:46] Siemienik commented on #12
Hey, do you want to support my work? [**❤️ Sponsor me**](https://github.com/sponsors/Siemienik)
Your issue is stuck? I can make it done, contact me for further info :)

[2020-10-02 21:46] Siemienik commented on #5
Hey, do you want to support my work? [**❤️ Sponsor me**](https://github.com/sponsors/Siemienik)
Your issue is stuck? I can make it done, contact me for further info :)

[2020-10-02 21:46] Siemienik commented on #1
Hey, do you want to support my work? [**❤️ Sponsor me**](https://github.com/sponsors/Siemienik)
Your issue is stuck? I can make it done, contact me for further info :)

[2020-10-02 23:33] lowkeypriority opened #26 "README formatting"
## Description

Formatting of current README is not good at all.

## Solving

I'm suggesting to format README with markdown rules from [markdownlint repo](https://github.com/DavidAnson/markdownlint/blob/v0.21.0/doc/Rules.md)

[2020-10-03 11:32] Siemienik commented on #26
ok, that sounds fine:+1:

[2020-10-06 20:48] Filipeue commented on #22
is this free to take ?

[2020-10-06 22:22] Siemienik commented on #22
@Filipeue yes

[2020-10-07 13:23] Siemienik commented on #22
@Filipeue I added the simplest mapper what can I imagine - stringMapper which actaully does nothing:

https://github.com/Siemienik/xlsx-import/blob/9a92510226a4c81d4d7030bc6632e9da8480e2d1/src/mappers/stringMapper.ts#L1-L3

and test for it:

https://github.com/Siemienik/xlsx-import/blob/9a92510226a4c81d4d7030bc6632e9da8480e2d1/tests/unit/mappers/stringMapper.test.ts#L1-L31

It might be nice starti

[2020-10-08 16:34] Siemienik opened #30 "[Refactoring] Rename variable"
# Actual

1. In:

https://github.com/Siemienik/xlsx-import/blob/0db404b6be0117f3f81ede01879b1bbed3a4a3d8/src/IImporter.ts#L4

and

https://github.com/Siemienik/xlsx-import/blob/0db404b6be0117f3f81ede01879b1bbed3a4a3d8/src/IImporter.ts#L11

a parameter is named `people` - It's wrong, should be named `config`

2. In:

https://github.com/Siemienik/xlsx-import/blob/0db404b6be0117f3f81ede01879b1bbed3a4

[2020-10-08 18:46] Siemienik opened #31 "[Proposal] Config builder"
# The Config Builder - still DRAFT

_Please do not start until it is a draft_

## Place of live

`./src/configBuilder/`

## Sample usages
[code]

## TODO

* [ ] ListVerticalConfigBuilder
* [ ] SingleObjectConfigBuilder
* [ ] Research required: ConfigBuilder for both
* [ ] toJson/fromJson (ConfigWriter/ConfigReader)
    * [ ] string representation for mappers

## Draft's todo:

* [ ] analysis discr

[2020-10-09 01:42] Siemienik opened #34 "Imports path"
# Actual

As it can be seen in `samples/nodejs/importer.js`:

https://github.com/Siemienik/xlsx-import/blob/ba224a5d0572c6f63a7bb27cee4833da80fb3ef9/samples/nodejs/importer.js#L1

It is required to use long path. It is absolutely unwanted.

# Expected

[code]

it means that the default package dir shoul be set as `./lib`.

**KEEP backward compatibility:** It needs an investigate how to keep backwa

[2020-10-10 18:21] Metastasis commented on #30
I would like to take this

[2020-10-10 19:05] Siemienik commented on #30
@Metastasis it's your 👍 😄

[2020-10-11 09:39] Metastasis commented on #30
Done
PR #35

[2020-10-11 09:47] Metastasis commented on #23
@Siemienik
Can I take this one?

[2020-10-11 14:04] Siemienik commented on #23
@Metastasis yes

[2020-10-11 14:29] #30 closed

[2020-10-11 14:29] Siemienik commented on #30
@Metastasis thank you for quick development and the fixations which was done 😄

[2020-10-11 17:48] Metastasis commented on #23
Done
PR #36

[2020-10-11 21:01] #23 closed

[2020-10-11 21:45] Siemienik opened #37 "Add isEmpty into mappers"
Part of #21

# TODO:

1. [ ] Create file `src/mappers/isEmpty.ts` with function matches to type `ValueMapper<boolean>`. Which examine if input is empty
2. [ ] reexport it in `src/mappers/index.ts`
3. [ ] Prove that it works in unit test
4. [ ] Describe it in Readme.md

## proposed test data provider:

[code]

For making a reservation please open draft PR with this issue linked

[2020-10-11 22:04] Siemienik opened #39 "Add isFilled into mappers"
Part of #21

_It is the opposite of #37 `isEmpty` mapper._

# TODO:

1. [ ] Create file `src/mappers/isFilled.ts` with function matches to type `ValueMapper<boolean>`. Which examine if input is not empty
2. [ ] reexport it in `src/mappers/index.ts`
3. [ ] Prove that it works in unit test
4. [ ] Describe it in Readme.md

## proposed test data provider:

[code]

For making a reservation please open

[2020-10-11 22:44] Siemienik opened #40 "WIP: Add jsonMapper into mappers"
Part of #21

# TODO:

1. [ ] Create file `src/mappers/jsonMapper.ts` with generic function matches to type **EDIT:** ~`ValueMapper<TJsonResult>`~ `ValueMapper<any>` . Which parse json string into `TJsonResult` and return default `null` when failure.
2. [ ] reexport it in `src/mappers/index.ts`
3. [ ] Prove that it works in unit test
4. [ ] Describe it in Readme.md

## proposed test data provider:

[2020-10-12 10:58] #37 closed

[2020-10-12 11:46] Gontrum commented on #40
Hi @Siemienik,

Do you have a place where I should add the type TJsonResult? Otherwise I would define it in the jsonMapper.ts and not export it for now.

[2020-10-12 11:47] #39 closed

[2020-10-12 12:16] Metastasis commented on #22
@Siemienik Whats the status? Can I take this one?

[2020-10-12 12:22] Filipeue commented on #22
yeah I am sorry, I started another work... @Metastasis you can take this one

[2020-10-12 12:29] Metastasis commented on #22
@Filipeue ok 👍

[2020-10-12 18:48] Siemienik commented on #40
Hi @Gontrum, please forgive me that I didn't describe return type clear.

As I mention before, this function should be generic. However the return type `ValueMapper<TJsonResult>` is wrong, sorry about that.

Right return type is a `JsonMapper<TJsonResult>` which may be defined by `type JsonMapper<TJsonResult> = ValueMapper<TJsonResult|null>`.

Thank you for your PR, I'm going to write a comment th

[2020-10-12 19:00] Gontrum commented on #40
Hi @Siemienik, thank you for your feedback :-)

I'm not sure if I got you right, but I have added an alias `JsonMapper` to the `jsonMapper.ts`. Is that what you meant?

[2020-10-12 19:02] Siemienik commented on #40
I've just check type, and finally I would recommend to use: `type JsonMapper= <TJsonResult>(value: string) => TJsonResult|null;`

For now, It may be inside of jsonMapper file because any other file do not require it.

[2020-10-12 19:11] Siemienik commented on #40
hmm after larger investigation I think that , jsonMapper is enough to has type `ValueMapper<any>`, additionally this make it easier. What fo you think @Gontrum ?

[2020-10-12 19:37] Siemienik commented on #40
please look for this comment https://github.com/Siemienik/xlsx-import/pull/43#discussion_r503491653

[2020-10-12 19:39] Metastasis commented on #22
Done #44

[2020-10-12 20:26] Metastasis commented on #6
@Siemienik
I would like to work on this

[2020-10-12 21:42] #22 closed

[2020-10-12 21:43] Siemienik commented on #22
@Filipeue thank you for an information
@Metastasis nice done :)

[2020-10-12 21:59] Siemienik commented on #6
Nice to hear that 😁

[2020-10-12 22:04] Siemienik commented on #21
Reviewing #45 I note that, we haven't listed here some useful mappers:

* decimalMapper: _has to define_
* integerMapper: `Number.parseInt`
* dateMapper: transform date string into Date, same as `new Date`

I've just added it to the list above. I have to describe theirs test sets (data providers) and create issues.

[2020-10-13 20:31] Siemienik opened #46 "Add numberMapper into mappers"
Part of #21

# TODO:

1. [ ] Create file `src/mappers/numberMapper.ts` with function matches to type `ValueMapper<number>`. Which parse value string into `number`.
2. [ ] reexport it in `src/mappers/index.ts`
3. [ ] Prove that it works in unit test
4. [ ] Describe it in Readme.md

## proposed test data provider:

[code]

## tips:

* I propose to use Number.parseFloat
* For asserting NaN values may

[2020-10-13 21:42] Siemienik opened #48 "Add integerMapper into Mappers"
Part of #21

# TODO:

1. [ ] Create file `src/mappers/integerMapper.ts` with function matches to type `ValueMapper<number>`. Which parse value string into integer.
2. [ ] reexport it in `src/mappers/index.ts`
3. [ ] Prove that it works in unit test
4. [ ] Describe it in Readme.md

## proposed test data provider:

[code]

## tips:

* I propose to use Number.parseInt
* For asserting NaN values may b

[2020-10-13 22:56] #40 closed

[2020-10-14 09:19] Metastasis commented on #6
@Siemienik
Could you describe what frontend apps supposed to do?

[2020-10-14 09:24] Metastasis commented on #31
@Siemienik
Could you add a little description?

[2020-10-14 09:31] Metastasis commented on #10
@Siemienik
Could you describe a little bit this issue?

1. What args should be?
2. Is this supposed to be implemented via "bin" in package.json?
3. Do you have any preferences over CLI framework or it could be any? I prefer [cac](https://www.npmjs.com/package/cac). I think it simple enough and will suite our needs

[2020-10-14 11:17] Siemienik commented on #6
@Metastasis
ad1. I don't have any idea yet, I may something invent if want you?
ad2. IMO, it's nice to show that this library works with all common frameworks - each framework has own hermetic community.
And ... I suppose that `xlsx-import` doesn't works on frontend at all.. have to check (because `exceljs` has different imports from frontend) , however this issue is great occasion to check browse

[2020-10-14 11:27] Siemienik commented on #31
I'm currently under analysing it and I will describe it after 2.3.2 version released - what I plan to do at 18th or 19th oct2020.

as introduction, I imagine like that

[code]

I plan to separate this for two issues - one per import strategy.

This is only pre-written idea, I plan to describe it in more detail 😄

[2020-10-14 12:01] Siemienik commented on #10
I'm going to describe it for todo in next week (after version`2.3.2`published).
It will be similar to: https://github.com/Siemienik/xlsx-renderer/issues/25 done in https://github.com/Siemienik/xlsx-renderer-cli/pull/1 (it's stuck because commander isn't test friendly :/)

If are you looking for something todo, may take care about finishing https://github.com/Siemienik/xlsx-renderer-cli/pull/1 ?

n

[2020-10-14 12:22] Siemienik opened #49 "Realease version 2.3.2"
At 18/19th Oct. 2020.

Including: https://github.com/Siemienik/xlsx-import/compare/v2.3.1...master

TODO:

* [ ] #21 Finish build in mappers
  * [ ] #46
  * [ ] #47
  * [x] #24
  * [ ] + 3 mappers without issue
* [ ] #26 Readme formatting
* [ ] Release notes + social media post, (Assigned to: @Siemienik & @michalp4)

NICE TO HAVE:

* #4 Checked browser support
* #6 At least one frontend example -

[2020-10-17 12:03] Siemienik opened #51 "Insights / Contribution issue"
@Metastasis @Gontrum, both of You done a lot great works for this library but you aren appear on Contributor page... 😞

![image](https://user-images.githubusercontent.com/2893099/96336450-2c4c7a80-1080-11eb-83ce-b389f1def8dd.png)

I did a little research, I suppose that you have set different emails for commits than used in Github. To fix it please go to Settings/Emails ( https://github.com/settin

[2020-10-17 12:09] Gontrum commented on #51
Hey @Siemienik,

thank you for catching that! I added the address I commited with :)

[2020-10-17 12:43] #24 closed

[2020-10-17 17:22] Metastasis commented on #4
I see that you already created issue for browser support so I write here what I found while working on #6

Under the hood you're using [exceljs](https://www.npmjs.com/package/exceljs) which supports 3 types of importing: from a file, from a stream, from a buffer.

[ImporterFactory](https://github.com/Siemienik/xlsx-import/blob/master/src/ImporterFactory.ts) currently supports importing from a file

[2020-10-17 18:34] Siemienik commented on #4
Thank you, for extensive research 👍

it will be fine to handle [data url](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs) and fetching from url (for instance `https://example.com/some-invoice.xlsx`) also.
I consider about write issues for each type of input. @Metastasis WDYT?

Then this issue will be fulfilled by checking if this works:

[code]

[2020-10-17 19:27] Metastasis commented on #4
@Siemienik
Could you clarify a little bit what do you mean

Is it correct that

1. Fetch file from https://example.com/some-invoice.xlsx (Blob will be returned)
2. Read Blob with FileReader and get ArrayBuffer
3. Pass ArrayBuffer to ImportFactory
4. Import invoice file
5. Render result
6. ???
7. Profit

[2020-10-17 19:32] Metastasis commented on #51
@Siemienik
done 👍

[2020-10-17 20:16] Siemienik commented on #51
Great 🥇

[2020-10-17 20:16] #51 closed

[2020-10-18 02:30] Siemienik commented on #49
# v2.3.2 published! 🎉

Link: https://github.com/Siemienik/xlsx-import/releases/tag/v2.3.2

[2020-10-18 09:23] Siemienik commented on #4
AD3. In scope of this issue I think is enough to create `Importer` without using `ImportFactory`. That allows us do not care about `ImportFactory` interface and focus on checking if it works with browsers.

_(I'm going to create new issue for `ImportFactory` api)_

AD6. Using selenium to assert that result is right

AD7. Profit - we have proved by test that our lib working with browsers, thats ena

[2020-10-18 09:29] Metastasis commented on #4
@Siemienik
Got it, thanks 👍

[2020-10-18 09:45] Siemienik opened #52 "Adding more acceptable sources in ImportFactor.from"
As @Metastasis mentioned in https://github.com/Siemienik/xlsx-import/issues/4#issuecomment-711051787. Current factory has possibility only for reading workbook from local file system, what can't works under browser because security purposes.

# Actual

The `ImportFactory.from` accept only filePath which is a string:

https://github.com/Siemienik/xlsx-import/blob/90c2b76564bd87433de19a9e8f55b9e064d

[2020-10-18 09:48] Siemienik commented on #4
@Metastasis I created #52, could you check if I've nothing forget?

Fully agree!

[2020-10-18 10:03] Siemienik opened #53 "Add booleanMapper into mappers"
Part of #21

# TODO:

1. [ ] Create file `src/mappers/booleanMapper.ts` with function matches to type `ValueMapper<boolean>`. Which parse value string into boolean.
2. [ ] reexport it in `src/mappers/index.ts`
3. [ ] Prove that it works in unit test
4. [ ] Describe it in Readme.md

## proposed test data provider:

[code]

## tips:

* I propose to use `Boolean(Number())`

For making a reservation p

[2020-10-18 16:40] machadolucasvp commented on #53
Hey @Siemienik, can you please assign this to me?

[2020-10-18 17:28] machadolucasvp commented on #53
Hello @Siemienik, are you sure we should expect `inValue: '   -1.2123asd'` be mapped to `true` ?

[2020-10-18 18:37] Metastasis commented on #52
@Siemienik
This issue looks fine but
I'm not sure about File Url part since It looks for me like too much responsibility. From another point of view It could be a lot of copy-paste code in the client therefore this feature should be implemented
I think we could implement this and see what happens next:) (I assume somebody would create an issue if something will be broken)

[2020-10-18 21:18] Siemienik commented on #49
Bravo @matastasis @Gontrum! Your work can be found in version 2.3.2. Here you can see the release note:
https://github.com/Siemienik/xlsx-import/releases/tag/v2.3.2
Thanks a lot for this contribution and participating in this project!
If you want to be up to date with this project, please click watch button.

I would like to inform you that I opened new channel on Gitter: https://gitter.im/Siemien

[2020-10-19 10:04] Siemienik commented on #53
It's quite problematic question, but when I wrote this issue I've follow the result of `Boolean(Number.parseFloat())`. That result true for this input.

[2020-10-19 10:06] Siemienik commented on #52
Right, I considered about that. May we should implement first version without this and add it if requested. WDYT?

[2020-10-19 13:10] machadolucasvp commented on #48
@Siemienik are you sure `integerMapper` should map  `'   -1.2123asd'` to `-1.2123` ?

[2020-10-19 14:17] Metastasis commented on #52
@Siemienik
Yeah, I think we could omit File Url

[2020-10-19 21:25] Siemienik commented on #46
done in #55

[2020-10-19 21:25] #46 closed

[2020-10-19 21:26] Siemienik commented on #53
done in #54

[2020-10-19 21:26] #53 closed

[2020-10-19 21:28] Siemienik commented on #48
good catch, Sorry that is my mistake - description updated.

[2020-10-20 02:19] Siemienik commented on #48
done in #56

[2020-10-20 02:19] #48 closed

[2020-10-20 19:41] Siemienik opened #58 "Add dateMapper into mappers"
Part of #21

# TODO:

1. [ ] Create file `src/mappers/dateMapper.ts` with function matches to type `ValueMapper<Date>`. Which parse value string into Date.
2. [ ] reexport it in `src/mappers/index.ts`
3. [ ] Prove that it works in unit test (some present dates, some future, some past & some invalid)
4. [ ] Describe it in Readme.md

## tips:

* ExcelJS used inside xlsx-import return Date strings cr

[2020-10-20 19:57] Siemienik opened #59 "Add isValue into mappers"
Part of #21

# TODO:

1. [x] Create file `src/mappers/isValue.ts` with function matches to type `(...acceptedValues:string[]) => ValueMapper<boolean>`. Which check value to be included in accepted values. Returns false if no accepted values provided.
2. [x] reexport it in `src/mappers/index.ts`
3. [x] Prove that it works in unit test
4. [x] Describe it in Readme.md

## proposed test data provider:

[2020-10-20 20:37] Siemienik commented on #10
[code]

**DRAFT reason:** _I've just realized that, config may contains value mapper that do not works in a `json` file. Have to invastigate / write a prototyp._

[2020-10-20 20:38] #49 closed

[2020-10-20 20:40] Siemienik opened #60 "Release version 2.3.3"
At 24/25th Oct. 2020.

Including: https://github.com/Siemienik/xlsx-import/compare/v2.3.2...master

[2020-10-20 20:49] Siemienik opened #61 "Add GH action for automatically markdown formatting + commit"
As mention @lowkeypriority in #26. It will be nice to have pretty well formatted README. To keep high quality level without effort to contributor works I want to:
1. [x] Add workflow: Quality Assistance
2. [x] On ~`pull_request`~ `push` events format all *.md inside repo,
3. [x] Detected changes commit into PR ref branch with message "[QA] Markdown formatted automatically"
4. [x] If any of rules c

[2020-10-20 20:49] Siemienik commented on #26
Close, because move into #61

[2020-10-20 20:49] #26 closed

[2020-10-20 21:00] Siemienik opened #62 "Docs: Add description for config fields according to LIST-VERTICAL"
# Actual

Described only shared cfg fields.

# Expected

Following link: https://github.com/Siemienik/xlsx-import#fields-or-columns

Should be added section `List depended fields` with information: "Aliases: list, vertical, list-vertical".
The section should contains fields description (from `IListSourceConfig` and `ISourceConfig`): https://github.com/Siemienik/xlsx-import/blob/0db404b6be0117f3f81

[2020-10-20 21:02] Siemienik opened #63 "Docs: Add description for config fields according to SINGLE-OBJECT"
sibling of #62

# Actual

Described only shared cfg fields.

# Expected

Following link: https://github.com/Siemienik/xlsx-import#fields-or-columns

Should be added section `Single object depended fields` with information: "Aliases: single, object, singleton".
The section should contains fields description (from `IObjectSourceConfig` and `ISourceConfig`): https://github.com/Siemienik/xlsx-import/b

[2020-10-20 21:07] Siemienik commented on #31
I've done research, however I wait for #62 and #63 to be 100% sure that everything is included.

[2020-10-20 21:15] Siemienik opened #64 "Replace current lint:fix and format by single lint:fix"
# Actual

Currently keeping code formatted and linted requires to use two commands:
* `yarn lint:fix` (or `npm run lint:fix`)
* `yarn format` (or `npm run format`)

Both of that are proceed by another tool.

# Expected

+ [ ] `yarn lint:fix` (or `npm run lint:fix`) should get same result like current solution.
+ [ ] Please consider about using eslint instead of currents commands

[2020-10-24 22:29] Siemienik commented on #4
#57 prove that xlsx-import may works on browsers, I'm really happy of that 💯

[2020-10-24 22:54] Siemienik opened #65 "DRAFT: [CI] Run tests for samples on GH action workflow"
The existence of Samples has two reasons:
1. Show others how to use our pretty lib
2. Prove that this lib works with different envs&technologies

Situation when any sample stop works and we don't know about it is unacceptable. So has to add job/jobs with will test it automatically for `push` and `pull_request` events.

However, we have two situations when tests should work little bit different.
1.

[2020-10-25 03:12] Siemienik commented on #61
On `pull_request` I had problem with checkouting and later commiting into fork so I decide to run workflow on push.`

So it is required to turn on Actions in forks.

[2020-10-25 03:54] Siemienik commented on #61
This workflow will works for:
* all forks with enabled `Actions` (may enable on `Actions` tab)
* main repository

In other case, some unformatted changes may be merge, however it isn't a catastrophe - someone's workflow earlier or later fix it. I do not want spend more time for that low important issue.

I close it as resolved

[2020-10-25 03:54] #61 closed

[2020-10-25 15:47] Siemienik opened #73 "Add customisation for default response from jsonMapper"
# Actual

The `jsonMapper` described in #40  and implemented in #43 has fallback mechanism that return `null` if parsing json failed.

# Expected

Default response should be customisable by calling `jsonMapper.default<TDefaultResult>(defaultResult: TDefaultResult)` which produce mapper with return type `TJsonResult | TDefaultResult`.

## Example usage:

[code]

# TODO:

1. [x] Introduce factory si

[2020-10-25 20:57] Siemienik opened #75 "[Proposal] Create manual workflow to automate publishing new versions"
[code]

Should be lunched only manually (on: manuall).

[2020-10-25 21:00] Siemienik opened #76 "[Proposal] Create a workflow to automate bumping samples version up"
Blocked until #75

Typically made by:

[code]

[2020-10-26 20:19] Siemienik commented on #60
Hi guys! I would really like to thank you all for contributing to this project. You made it live and developing fast! We made a lot of things lately and it is all thanks to you. It’s really huge! It also gives me great motivational kick, so thanks a lot!

Especially for @Metastasis about working on react sample and prove that xlsx-import works in chrome and firefox
and for @machadolucasvp for impl

[2020-10-26 20:19] #60 closed

[2020-10-31 14:17] Metastasis opened #78 "Apply prettier to all directories"
I would like to propose adding other folders (such as samples and test folders) to [format script](https://github.com/Siemienik/xlsx-import/blob/master/package.json#L22)

Something like this
[code]

[2020-10-31 14:29] Siemienik commented on #10
This should not be a problem after #31

[2020-10-31 16:12] Siemienik opened #79 "[Proposal] The paginator"
# The paginator

I want to propose add possibility to paginate result into `xlsx-import`, I suppose that should improve performance for larger files. I have no idea how it should be done yet, but this issue is only a proposition. So any ideas are welcome 🤗

## Current:

Function `getAllItems` return all items from imported worksheet

https://github.com/Siemienik/xlsx-import/blob/4c74089/src/Import

[2020-10-31 16:25] Siemienik opened #80 "[Proposal] switch to streaming mode in ExcelJs"
# Streamming

Exceljs has streamming api, this should works perfectly for us

https://github.com/exceljs/exceljs#streaming-xlsx-readercontents

[2020-10-31 16:33] Siemienik opened #81 "Add `Import.getFirst(cfg)` function"
# Function `getFirst`

## Current:

[code]

## After:

[code]

## Todo:

* Add getFirst function into `IImporter` interface (not in `IImporterLegacy`)
* Implement getFist in a `Importer` class (not in `ImporterLegacy`)
* Update sample in Readme (use getFist)
* Update/Add at least one test which check it.

_For making a reservation please open draft PR with this issue linked_

[2020-10-31 17:04] Siemienik opened #82 "Join with xlsx-renderer & xlsx-renderer-cli repositories"
# Monorepo

I've observe that I have difficulty maintaining several projects at once. It is that because of some purposes:

* I have to have in mind where indeed issue is place,
* I have to consider about where put new issues,
* Both libraries has separated communities,
* New repos for new packages included in `spreadsheets` topic will stay unpopular (with few stars amount) event if are awesome to

[2020-10-31 20:46] iLorah commented on #81
Hey I'll grab this one :)

[2020-11-01 00:44] Siemienik commented on #4
In `samples/vue` and `samples/react` was proved browser support.
#65  introduces CI for regularly checking browser support.

[2020-11-01 00:44] #4 closed

[2020-11-01 00:56] Siemienik commented on #78
It is great idea, however we have to be sure do not format `node_modules` and `dist`.

I've also created issue #64, where prettier will be replaced by eslint.

[2020-11-01 01:02] Siemienik commented on #81
It' nice to read that :) Good luck,

Could I please you to create draft PR?

[2020-11-01 09:56] Siemienik commented on #10
I change it from Draft to Proposal, because to mamy thing should happen before we may start doing it.

However this issue is quite important imo.

[2020-11-01 09:59] Siemienik commented on #34
I marked it as important because it is better to do earlier than lot of dev start using this lib

[2020-11-01 11:18] Siemienik opened #84 "[Info] Issues Organization"
# Issues Organization

I am not big fan of formalisation, however we are band of randomly persons which work together to create awesome toolset. I write this issue just for give some explanation how I organise issues here - _please do **not** track this as strict rules_ :)

## Flow:

1. The `[Proposal]` - this is issue create just for give some proposition or share with some idea. I really often c

[2020-11-04 20:57] #78 closed

[2020-11-06 15:10] #59 closed

[2020-11-07 23:23] Siemienik opened #87 "[Proposal] Add packages into CDN"
## Actual

Xlsx-importer and xlsx-renderer is available only via `node_modules`

## Expected

Make it possible to use `xlsx-import` imported from CDN:

[code]

[2020-11-07 23:24] Siemienik opened #88 "[Proposal] Make getting started much simpler"

[2020-11-19 21:39] Siemienik commented on #84
I've added project `xlsx-import`: https://github.com/Siemienik/XToolset/projects/1

[2020-11-19 21:46] Siemienik opened #93 "Check browser support"

[2020-11-19 21:48] Siemienik opened #95 "Fix vertical merged cells inside loops"
all files are available in 9a87732

# Actual

![image.png](https://images.zenhubusercontent.com/5f08cdaaad707dc5c637e2ae/f8161f5a-36de-4f07-a1b6-7876281d7d62)

# Expected

![image.png](https://images.zenhubusercontent.com/5f08cdaaad707dc5c637e2ae/6a2bd8f6-5edb-47b2-8f4a-5bf41c884df2)

[2020-11-19 22:23] Siemienik commented on #82
For some explanations I made two diagrams, one about how XToolsets may be used. Second, relationships and dependency flow:
![XToolset](https://user-images.githubusercontent.com/2893099/99731417-28b47500-2abe-11eb-89c4-cb64037964d9.png)

[2020-11-23 17:28] watanabethais commented on #93
@Siemienik Sorry for the late response, I only had time to test today. And I made it work using the code below:

[code]

Thank you so much for your help! Now I'm going to fully implement the template :)

[2020-11-24 16:25] Siemienik commented on #93
@watanabethais that great information 😄  Thank you for an information 🥇

[2020-11-24 16:43] Siemienik opened #99 "[Proposal] Consider about easier xlsx-renderer usage on frontend"
In according to https://github.com/Siemienik/XToolset/issues/93#issuecomment-732309383
We may note, that using xlsx-renderer on frontend is quite complicated and requires many lines do make lib useful.
I hope to made using xlsx-renderer much easier.

[2020-11-24 16:46] Siemienik opened #100 "Upgrade and lock actions"
According to https://github.com/Siemienik/XToolset/pull/98#issuecomment-732144140

Connected with: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

[2020-11-24 22:58] #84 closed

[2020-11-26 00:06] Siemienik commented on #100
As GH mentioned: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

Some

[2020-11-26 00:24] #100 closed

[2020-11-26 23:04] Siemienik opened #102 "Invent and implement testing for Command Line: xlsx-renderer-cli"

[2020-11-26 23:45] Siemienik opened #103 "Improve documentation of xlsx-renderer"
# Motivation:

The documentation (included in `packages/xlsx-renderer/README.md`) is the most important thing for package users. I want to keep the highest quality as possible.

**As https://github.com/Siemienik/XToolset/issues/104 was done first, it is able to inspire with PR: https://github.com/Siemienik/XToolset/pull/116**

## TODO:

xlsx-renderer/README.md:

* [x] update badges
* [x] add infor

[2020-11-26 23:56] Siemienik opened #104 "Improve documentation of xlsx-import"
# Motivation:

Similar like in #103 but in context of xlsx-import. The documentation (included in `packages/xlsx-import/README.md`) is the most important thing for package users. I want to keep the highest quality as possible.

## TODO:

xlsx-import/README.md:

* [x] update badges
* [x] remove redundant info about node v8&9
* [x] fix typos if exists
* [x] mention about it is part of XToolset
* [x]

[2020-12-05 22:47] Siemienik opened #105 "XToolSet logo"
# Logo

I want XToolset to be perceived in the best possible light. There is still a lot of ambitious work to be done for this, and it should definitely start with the logo. Current logo is nasty, made in 5 minutes in the easiest editor ever. The purpose of this issue is to develop a new logo.

## Actual

Currently logo is prehistorical graphic used for one part of XToolset

<details>
<summary><b>

[2020-12-06 20:52] Siemienik commented on #64
As @Metastasis point in https://github.com/Siemienik/XToolset/pull/97#discussion_r531739830 , `tslint` being to be deprecated. I added info into description about migration into `eslint`

[2020-12-06 21:06] #82 closed

[2020-12-06 23:27] Siemienik commented on #94
done in #97

[2020-12-06 23:27] #94 closed

[2020-12-09 14:56] Siemienik commented on #10
This will not be a problem when `import-cfg.json` will be replaced by JS file : `import-cfg.js` wich exports default config.

[2020-12-09 15:12] Siemienik commented on #10
@Metastasis WDYT? should I describe something more for this issue?

[2020-12-09 16:15] Metastasis commented on #10
@Siemienik In examples folder we used configs declared both in ts and js files. Does CLI have to support ts files?

[2020-12-09 19:11] Siemienik commented on #10
I think json files will works like js one but without mappers. (json is much more secure than js file. From the other side, js file has possibility to make config dynamically). I consider about json file supporting move to new issue.

Imo, this should be another one issue and will analyse it separately.

WDYT?

[2020-12-12 09:49] Metastasis commented on #10
@Siemienik Ok, sounds good. Then rest part of the issue I think is clear

[2020-12-15 00:42] #96 closed

[2020-12-15 02:50] Siemienik opened #117 "[DRAFT] Improve documentation of xlsx-renderer-cli"
NOTE: base on https://github.com/Siemienik/XToolset/issues/103 and https://github.com/Siemienik/XToolset/issues/104

[2020-12-15 02:59] Siemienik opened #118 "WIP: Publish xlsx-import version 2.3.4"
After: https://github.com/Siemienik/XToolset/pull/116

**TODO:**

* [X] Publish on npm
* [x] Update samples
* [ ] Release notes
* [ ] ~Publish an information into https://gitter.im/Siemienik/community~

### Release log:

<details>

[code]

</details>

[code]

[2020-12-15 22:16] #104 closed

[2020-12-15 22:49] Siemienik opened #119 "Add CI markdown linter for packages"
## Actual

Auto MD linter (in `code-quality.yml`) is turned on for root directory (without packages)

## Excepted

* [x] Enable MD linter for packages
* ~Avoid multiple commits (do it on one job but in separate steps)~ **EDIT:** not offen case
* [x] Use package`s markdown linter cfg.
* [x] Add Markdown linter config for xlsx-renderer (copy from `packages/xlsx-import/)
* [x] Add Markdown linter con

[2020-12-16 01:53] Siemienik commented on #88
done in #116

[2020-12-16 01:53] #88 closed

[2020-12-16 03:29] #103 closed

[2020-12-16 03:54] Siemienik opened #124 "Check support for node v15"
workflows:
* [x] xlsx-import
* [x] xlsx-renderer

readme:
* [x] xlsx-import
* [x] xlsx-renderer

manually:
* [x] xlsx-import-cli
* [x] xlsx-renderer-cli

[2020-12-16 04:49] #117 closed

[2020-12-30 10:17] michalp4 opened #127 "Update GH Sponsors page"
# GitHub Sponsors page

GitHub Sponsors page need to be updated because during last two months XToolSet was developed which combines xlsx-renderer and importer in one toolset. It needs also wider description and need to be pointed as a main project. Little bit more description would be good in exceljs area as well.

## Actual

Four links with little description of Pawels projects and exceljs

## E

[2021-01-02 20:47] Siemienik commented on #10
Xlsx-import-cli `v0.0.1-alpha1` released! Feel welcome to test alpha version 🚀

[2021-01-02 20:47] #10 closed

[2021-01-03 23:27] Siemienik commented on #118
close as partially done ( release notes will be publish later)

[2021-01-03 23:27] #118 closed

[2021-01-03 23:36] Siemienik commented on #119
It was done in https://github.com/Siemienik/XToolset/issues/122, https://github.com/Siemienik/XToolset/issues/125

[2021-01-03 23:36] #119 closed

[2021-01-05 13:02] Siemienik commented on #91
I wan't to maintain a wiki, I would prefer to create a website with docs and API reference.

[2021-01-05 13:02] #91 closed

[2021-01-08 02:58] Siemienik commented on #127
@michalp4 I've just a little updated sponsor profile for serving more accurate information.

[2021-01-10 19:26] michalp4 commented on #127
GH Sponsor page is updated, but there is still one box to check - should we add any info about paid support? @Siemienik

[2021-01-10 20:12] michalp4 opened #130 "Graphic representations of how XToolset works"
# Infographics

We need to have same good looking graphics of how XToolset works in general, of it's usage and dependencies.

Basically improved Pawels graphics, and of course, If you have any other ideas then feel free to put it here.

## Actual

Actual graphics are legible but very raw and simple

## Expected

New graphics should be also legible but they should be pimped up, more aesthetic and
g

[2021-01-11 09:21] Siemienik commented on #127
I don't think so. Thank you for writing it 👍

[2021-01-11 09:21] #127 closed

[2021-01-12 14:25] jacekkoziol commented on #93
I was trying to use the `xlsx-renderer` in the Browser but it works only partially, I mean the XLSX generates base on the template with provided data, but when it comes to loop it stops interpret the variables. For testing I have used this sample: https://github.com/Siemienik/XToolset/tree/master/packages/xlsx-renderer/tests/integration/data/Renderer005-ForEach-simple and as result I'm getting som

[2021-01-12 15:31] Siemienik commented on #93
@jacekkoziol Jacek, Thank you for checking it. I'm going to investigate it soon.

Could I please you for sharing your code here?

[2021-01-13 09:01] jacekkoziol commented on #93
@Siemienik Sure, the testing code is available here [XSLX test](https://github.com/jacekkoziol/xlsx)
And here is the TypeScript code:
[code]

[2021-01-13 16:56] Siemienik commented on #93
@jacekkoziol I have good information for you. I found the reason why it failed.
XLSX renderer needs an argument called `templateFactory`, which returns `Promise<Workbook>`.
 In your code, this argument is an arrow function that returns a const wrapped inside `Promise.resolve()`.
 That makes that the renderer edits output, and it is the same object as the template. As a result, it makes total crazy

[2021-01-14 09:17] jacekkoziol commented on #93
@Siemienik Thank you for the answer, code update and tips. I have test it and it work... but only for the first time. Probably still there is something wrong with my code, but I can't find out what is causing the problem.
When I export the file, for the first time it's generated correctly, however the second and subsequent times it's not generating properly - the page needs to be reloaded and then

[2021-01-14 11:10] Siemienik commented on #93
Ohh this is a bug inside Renderer, which mutate view model, it shouldn't be. For now, this is quick workaround by making deep copy:

[code]

I'm going to create a patch through the weekend.

[2021-01-15 12:32] jacekkoziol commented on #93
Thank you @Siemienik , it works perfectly 👍 The xlsx-renderer is great! :)

[2021-01-15 12:37] Siemienik commented on #93
@jacekkoziol Nice to read that, so if you want you to support our work, please leave a star & recommend us to your friends 🥰
Additionally, I want you to invite you to use our community chat https://gitter.im/Siemienik/community .

[2021-01-15 23:21] Siemienik opened #131 "Update xlsx-renderer docs about Debug possibilities"
As I mention in fixation proposed, it is lack of documentation about debug possibilities

refs:
https://github.com/Siemienik/XToolset/issues/93#issuecomment-759582047
https://github.com/jacekkoziol/xlsx/pull/1/files#diff-a2a171449d862fe29692ce031981047d7ab755ae7f84c707aef80701b3ea0c80R62

[code]

[2021-01-15 23:26] Siemienik opened #132 "Extend xlsx-renderer-cli `--debug` option to use CellTemplateDebugPool"
Xlsx-renderer has a possibility to run in debug mode. It will be fine to use `CellTemplateDebugPool` if `-d --debug` option provided
https://github.com/Siemienik/XToolset/blob/3e6d417/packages/xlsx-renderer-cli/program.ts#L47

[2021-01-15 23:30] Siemienik opened #133 "Add information about extending CellTemplatePool for own CellTypes"
As I mention in fixation proposed. I want to add information about extending CellTemplatePool for own CellTypes.

refs:
https://github.com/Siemienik/XToolset/issues/93#issuecomment-759582047
https://github.com/jacekkoziol/xlsx/pull/1/files#diff-a2a171449d862fe29692ce031981047d7ab755ae7f84c707aef80701b3ea0c80R63
[code]

[2021-01-15 23:37] Siemienik opened #134 "Add logging cell address into console.log inside CellTemplateDebugPool.match()"
When I tried to fix the code that was not working, I see that the debug option does not log essential information like cell address. Please to add `cell.address` into CellTemplateDebugPool's console log.

refs:
https://github.com/Siemienik/XToolset/issues/93#issuecomment-759582047
https://github.com/jacekkoziol/xlsx/pull/1/files#diff-a2a171449d862fe29692ce031981047d7ab755ae7f84c707aef80701b3ea0c80

[2021-01-15 23:51] Siemienik opened #135 "Add into xlsx-renderer possibility to load from ArrayBuffer."
As we can see in https://github.com/Siemienik/XToolset/issues/93 the `xlsx-renderer` works perfectly in a browser environment. However, it hasn't access into the filesystem, so it is needed to create a `templateFactory` that usually use the `ArrayBuffer` to load a file into ExcelJS's `Workbook`.
This issue should assume to add function `renderFromArrayBuffer`  into https://github.com/Siemienik/XTo

[2021-01-16 00:16] Siemienik opened #136 "Improve handling the `templateFactory` argument for xlsx-renderer Render.render()"
The `Renderer.render` function needs to pass in `templateFactory` argument, which should build from scratch Workbook model. However, it might also be fulfilled with `() => Promise.resolve(workbook)` which essentially returns one object for template and same object for output. That makes bizarre things. (What was perfectly shown here: [this request](https://github.com/Siemienik/XToolset/issues/93#i

[2021-01-16 00:36] Siemienik opened #137 "BUG: xlsx-renderer/Renderer mutate viewModel argument."
The renderer mutates a `viewModel` by adding information about the current loop states or deleting variables by using `DeleteCell. It is wrong behaviour and it shouldn't do that, because it causes next bugs, for instance, if the same VM is used twice.

[Here](https://github.com/Siemienik/XToolset/issues/93#issuecomment-760127980) was proposed a workaround, that makes deep copy before each `render(

[2021-01-16 19:13] outhomedesign-studio commented on #105
[xtoolset-logo-final.zip](https://github.com/Siemienik/XToolset/files/5824955/xtoolset-logo-final.zip)

[2021-01-19 01:00] #105 closed

[2021-01-19 02:24] #137 closed

[2021-01-19 02:28] Siemienik opened #143 "[DRAFT] Introduce Continues Delivery"
* introduce develop branch
* introduce scope `@xtoolset`
* introduce uniform versions for all packages
* automate release on merge into master

[2021-01-19 05:05] #75 closed

[2021-01-19 05:06] Siemienik commented on #75
traced in #143

[2021-01-19 05:08] Siemienik commented on #11
duplicated #92

[2021-01-19 05:08] #11 closed

[2021-01-19 05:12] Siemienik commented on #93
Problem fixed in #138 and released in xlsx-renderer@2.3.2

[2021-01-22 10:12] Siemienik opened #144 "[Info] The Proposals Index"
# Index

This index will gather and group all propositions pushed created for this project, and all packages included.
I appreciate the existence of the index, because:

* This will reduce the number of issues. Currently, we have 7 proposal issues from all 32. That is 21% of all.
* It introduces a convenient way to search and prioritize and track the proposals.
* Other issues (which aren't proposa

[2021-01-22 10:18] Siemienik commented on #99
IMO, implementing loading from array buffer (#135) will resolve this issue. Any other ideas are welcomed.

[2021-01-22 10:24] Siemienik commented on #76
As described in The Index of Proposals (#144), **it will be reopened if accepted**.

### 🗣️ 🗣️ 🗣️ 🗣️ Any discussion here is wanted.

[2021-01-22 10:24] #76 closed

[2021-01-22 10:24] Siemienik commented on #7
As described in The Index of Proposals (#144), **it will be reopened if accepted**.

### 🗣️ 🗣️ 🗣️ 🗣️ Any discussion here is wanted.

[2021-01-22 10:24] #7 closed

[2021-01-22 10:24] Siemienik commented on #8
As described in The Index of Proposals (#144), **it will be reopened if accepted**.

### 🗣️ 🗣️ 🗣️ 🗣️ Any discussion here is wanted.

[2021-01-22 10:24] #8 closed

[2021-01-22 10:24] Siemienik commented on #80
As described in The Index of Proposals (#144), **it will be reopened if accepted**.

### 🗣️ 🗣️ 🗣️ 🗣️ Any discussion here is wanted.

[2021-01-22 10:24] #80 closed

[2021-01-22 10:24] Siemienik commented on #87
As described in The Index of Proposals (#144), **it will be reopened if accepted**.

### 🗣️ 🗣️ 🗣️ 🗣️ Any discussion here is wanted.

[2021-01-22 10:24] #87 closed

[2021-01-22 10:24] Siemienik commented on #99
As described in The Index of Proposals (#144), **it will be reopened if accepted**.

### 🗣️ 🗣️ 🗣️ 🗣️ Any discussion here is wanted.

[2021-01-22 10:24] #99 closed

[2021-01-22 10:26] Siemienik commented on #79
As described in The Index of Proposals (#144), **it will be reopened if accepted**.

### 🗣️ 🗣️ 🗣️ 🗣️ Any discussion here is wanted.

[2021-01-22 10:26] #79 closed

[2021-01-22 10:27] #144 closed

[2021-01-22 10:42] #31 closed

[2021-01-22 10:49] Siemienik commented on #92
I am curious about it, Imo it will be a significant change. For now, I marked it as a proposal. Will be accepted soon.
Added into The Proposals Index (#144).

[2021-01-22 10:49] #92 closed

[2021-01-24 03:10] Siemienik commented on #102
I removed the `important` label because CLI libraries aren't as popular as expected. More important things to do.

[2021-01-24 15:38] Siemienik opened #145 "Describe how to import data from CSV"
# CSV

It is really common to transfer data in CSV format. I wonder about add import feature into the [`xlsx-import` package](https://github.com/Siemienik/XToolset/tree/master/packages/xlsx-import). As ExcelJS support CSV, it should work here - and it really works pretty well as long as it runs on the node environment. Unfortunately, this feature is broken on the browser side.

**This issue assume

[2021-01-24 23:29] #62 closed

[2021-01-24 23:34] Siemienik commented on #63
close as done #146

[2021-01-24 23:34] #63 closed

[2021-01-25 00:12] #124 closed

[2021-01-29 13:51] jacekkoziol opened #149 "xlsx-renderer: The renderer variable is not removed in the generated file"
Using template with nested loops, the expected file is generated correctly however few renderer variables (in this case `!# END_LOOP item` and `!# FINISH`) are not removed from the generated file.

[template.xlsx](https://github.com/Siemienik/XToolSet/files/5894128/template.xlsx)
[vm.json.txt](https://github.com/Siemienik/XToolSet/files/5894131/vm.json.txt)
[result.xlsx](https://github.com/Siemien

[2021-01-31 09:30] #135 closed

[2021-01-31 09:43] Siemienik commented on #93
I am delighted to inform you that the version has been released (xlsx-renderer v2.3.3), with added `renderFromArrayBuffer`.

[code]

Using `renderFromArrayBuffer` will makes using the xlsx-renderer much more convenient in a browser 🎯

[2021-02-01 07:52] #134 closed

[2021-02-01 09:27] jacekkoziol opened #152 "Add TemplateStringCell: Allow to mix dynamic values (variables) with static values in the same cell."
Currently there is not possible to have variable and the static text/value in the same cell, since it's not rendered correctly, so it forces to parse view model data before it's passed to the renderer.
My proposal to solve that problem is to allow to add the variables in mustache notation, like : `Some static value: {{variableValue}}`.
For the performance reasons to indicate that specific cell con

[2021-02-01 09:58] #132 closed

[2021-02-01 10:17] jacekkoziol commented on #149
@Siemienik I have notice another issue, if the array in the view model data is empty, the variables of the loop section are not removed and they are just placed in the generated file.
I'm attaching the source and result files:
[Result-vm-empty-data-array.xlsx](https://github.com/Siemienik/XToolSet/files/5903297/Result-vm-empty-data-array.xlsx)
[vm-empty-data-array.json.txt](https://github.com/Siem

[2021-02-01 18:43] Siemienik commented on #152
Thank you for the proposal:) I've added it into proposal index. For now, I close this issue (following the workflow for proposals), and I will be open when it becomes to be accepted.

I have two more ideas for the syntax, so in assumptions:

1. Recognized because it starts by: `
[code]

2. if more arguments were passed into VariableCell, the last one will be a template.
[code]

3. (As @jacekkoziol

[2021-02-02 09:25] Siemienik commented on #149
Yesterday I added a utility which will helps me debug this issue (#134 #151). For now nothing blocks me and I start to fixing this bug ;)

[2021-02-03 11:53] jacekkoziol commented on #149
@Siemienik It seems like the issue is caused by empty arrays on which we try perform the loop.

[2021-02-03 12:02] jacekkoziol opened #153 "[Proposal] Consider to add If ... else statement support."
The `If ... else` statement would be a good solution in cases if the  data model has for example an empty array, then it would be possible to display an information like 'No records...' or just omit the part of the template where there is a styled table generated by loop.

[2021-02-05 11:36] jacekkoziol opened #154 "[BUG] The xlsx-renderer stops to work correctly after code compression."
The xlsx-renderer after code compression (e.g. by Webpack) stops to correctly recognise and interpret specific Cells.
For example the `!# END_ROW` does not cause script to go to the next line.

[2021-02-05 12:58] #154 closed

[2021-02-05 13:03] Siemienik opened #156 "[DRAFT] Check bundlers"
As @jacekkoziol shown in a #154 and fixes in #155, Bundlers like Webpack5 can change compressed libs' behaviour. So it is worth to test them. It might be resolved by one of two ways:
* adding a test witch will use a bundler and execute all testes with using compressed code.
* adding an example which will run in the real environment.

Which bundlers and which way to use (or both) will be clarified.

[2021-02-10 22:32] Siemienik opened #158 "Add TemplateFormulaCell : Possibility to add a template for a custom formula"
As @jasonclake requested on a [Gitter channel](https://gitter.im/Siemienik/community?at=60235fb7ae4b9b27c1aeff31)

![image](https://user-images.githubusercontent.com/2893099/107496456-a3f36780-6b91-11eb-9929-ad28c2571c75.png)

I have a loop starting on row 2 running to row 6 (see image)

Transform something like

[code]

Into:

[code]

[2021-02-10 22:35] Siemienik commented on #158
I see common assumptions with another proposal #152

[2021-02-10 23:11] Siemienik commented on #158
I made the first research about using `eval` function and it looks promising
![image](https://user-images.githubusercontent.com/2893099/107584916-94116d00-6bfd-11eb-8a33-fd3c2ae54957.png)

[2021-02-10 23:12] Siemienik opened #159 "[DRAFT] Describe how to extend xlsx-renderer for custom cell templates"

[2021-02-11 06:18] jasonclake commented on #158
Found this technique on stackoverflow - not as flexible as eval() but would cause less security concern maybe? I have not tested or considered how it would fit in the scheme of things.

https://stackoverflow.com/questions/29182244/convert-a-string-to-a-template-string
From: https://stackoverflow.com/users/560114/matt-browne

[code]
## Usage
[code]

[2021-02-11 15:09] Siemienik commented on #136
I think it isn't still important after `fromArrayBuffer` has been added (#148 #135 )

[2021-02-11 15:13] Siemienik commented on #152
I'm going to add `TemplateStringCell` regognized by using

[code]

The solutions for string interpolation is described in #158

[2021-02-11 15:17] Siemienik commented on #158
I move this issue into issues list and mark as `important`, that means I will do first in my free time.

The `TemplateFormulaCell` will be matched by:

[code]

[2021-02-12 10:04] #158 closed

[2021-02-12 18:59] #152 closed

[2021-03-04 20:02] Siemienik commented on #153
I think, this issue will assumse to add:

* `IfCell`, that matches `#! IF [boolean]`
* `ElseIfCell`, that matches into ` #! ELSE_IF [boolean]`
*  `ElseCell`, that matches into ` #! ELSE`
*  `EndIfCell`, that matches into ` #! END_IF`;

Questions to resolve first (until it is a draft):

* Will we handle if statements similar to the for-each (putting them on the end of the row)? -  **_In that way, w

[2021-03-08 10:05] sumanth-basetty commented on #93
@Siemienik I was trying to use `xlsx-renderer` and i couldn't get the file generated, getting the below error
`Can't find end of central directory : is this a zip file ? If it is, see https://stuk.github.io/jszip/documentation/howto/read_zip.html`
Codesandbox: https://codesandbox.io/s/elated-diffie-hukqr
i am following the steps provided in this thread, couldn't get it done
using template and view

[2021-03-08 12:39] jacekkoziol commented on #93
@sumanth-basetty move your template.xlsx file to the public folder and this should solve the problem :)

[2021-03-08 13:17] sumanth-basetty commented on #93
@jacekkoziol Thanks for pointing it out, i have changed the `viewModel` according to the `template.xlsx` and moved the template to `public` folder
still get the same error as mentioned
`Error
Can't find end of central directory : is this a zip file ? If it is, see https://stuk.github.io/jszip/documentation/howto/read_zip.html`
missing something, but not sure what it is, can you help me out on this

[2021-03-08 13:20] jacekkoziol commented on #93
@sumanth-basetty The path to the template file needs to be `./template.xlsx` instead of `../public/template.xlsx`.

[2021-03-09 01:30] Siemienik commented on #93
@jacekkoziol, Thank you  for resolving this problem quickly🥇 Good Job 😄

@sumanth-basetty I hope that XToolset will help you a lot with generating awesome spreadsheets. We are really open to proposals for the next features to add. If any help you need or have you any trouble write it out as a new issue or join to talk on [our community chat on Gitter](https://gitter.im/Siemienik/community) 😄

---

[2021-03-09 01:55] sumanth-basetty commented on #93
@jacekkoziol thanks for pointing it out, it works fine now
@Siemienik Cool stuff, will check it out
no time wasting in styling, just generate the file, `xlsx-renderer` is awesome :)

[2021-03-10 07:18] Siemienik commented on #93
That happens because you have `#! END_ROW` between `#! FOR_EACH` and `#! CONTINUE`.
Please try to:
* move FOR_EACH from B1 to B2,
* and END_ROW from B2 to B1

![image](https://user-images.githubusercontent.com/2893099/110591239-19465e00-8179-11eb-898b-545815c2afd7.png)

[2021-03-10 13:19] Siemienik commented on #93
@sumanth-basetty If you can, leave a ⭐  for this project, each of them motivates me :)

[2021-03-12 06:15] sumanth-basetty commented on #93
@Siemienik why the file isn't generating when the template is out public, i have made the template out of public folder and updated the path in fetch, it doesn't generate the file
it only generates when the template is in public folder
codesandbox: https://codesandbox.io/s/stupefied-mirzakhani-h88n7

[2021-03-12 17:01] Siemienik commented on #93
it only generates when the template is in public folder

It isn't a behaviour of XToolset/xlsx-renderer
 That happens because react dev server, which allows be public only files from that folder.

For the same purpose, your main file(index.html) is placed right there.

[2021-03-13 00:54] Siemienik commented on #93
Here I update the code to make it simpler and shorter:

[code]

Sandbox: https://codesandbox.io/s/xlsx-renderer-check-forked-xp91b?file=/src/App.js:233-836

[2021-03-29 10:56] love8587 opened #162 "(xlsx-import) How can I read xlsx from S3 ?"
Hi, I've using XToolset and love it.
I'my trying to read xlsx file from S3 not from file system.

Is it avilable to read xlsx from S3 ?
I've not found any code reading from S3 in ImporterFactory .

Should I contrinute for it?

[2021-03-30 00:31] Siemienik commented on #162
Hi @love8587 ! Thank you for nice words ;)

## Backend

As far as I know, AWS provides NodeJS client which provides getting data from S3 as a `Buffer`.

[code]

Having this function, you are able to use it with AWS Node.js API
(code based on https://stackoverflow.com/a/16903730/4747028 )

[code]

## Frontend

However, please keep in mind. **That using `accessKeyId`, and `secretAccessKey` on the fr

[2021-03-31 12:53] #162 closed

[2021-04-14 20:15] Sherlock-HolmesJM commented on #93
Hello,

I've ran this code and on my system, this is the error I got:

Error: Can't find end of central directory : is this a zip file ? If it is, see https://stuk.github.io/jszip/documentation/howto/read_zip.html

And no, it's not a zip file. I get this error when I ran it with React, but with NodeJs, I don't get this error.

[2021-04-14 20:19] jacekkoziol commented on #93
@Sherlock-HolmesJM Probably the paths to the xlsx template file is wrong.

[2021-04-16 19:45] Siemienik commented on #93
Hi, @Sherlock-HolmesJM did you resolve this problem?

[2021-04-16 19:52] Sherlock-HolmesJM commented on #93
I did by setting up a REST API to serve my template xlsx file as a buffer

Then fetch at the frontend and worked with it.

Thank you.

[2021-04-16 20:22] Siemienik commented on #93
@Sherlock-HolmesJM  Thank you for confirmation, nice to read that ;)

If any help needed, you may find us on [Gitter](https://gitter.im/Siemienik/community)

[2021-07-21 06:52] cvmabilin opened #180 "Render data to specific worksheet"
How can i render my data to specific worksheet? i don't see in the documentation if there a way to select worksheet

[2021-07-21 12:33] Siemienik commented on #180
You can omit to render into all unwanted sheets by using `#! FINISH` at the end of the first row.

Here I prepared example:
https://codesandbox.io/s/xlsx-renderer-check-forked-f4vze?file=/src/App.js

[2021-07-21 12:38] #180 closed

[2021-08-25 03:23] Jedliu opened #190 "[Question] how to add images in the worksheet"
Thanks for this great project.

I'm wondering how to add images in the loop when use xlsx-renderer. I didn't see any information in the documents. And I saw you contributed the images for the  [ExcelJs](https://github.com/exceljs/exceljs#images).

Thank you!

[2021-08-25 06:49] #190 closed

[2021-09-27 19:55] #58 closed

[2021-09-27 19:58] Siemienik commented on #21
As the PR https://github.com/Siemienik/XToolset/pull/192 was done, This issue is fully accomplished 🥇 Thanks to all contributors for your efforts 🍰

[2021-09-27 20:02] #21 closed

[2021-09-27 20:42] Siemienik opened #194 "Do code-smelts from Sonar Cloud"
https://sonarcloud.io/project/issues?id=Siemienik_XToolset&resolved=false&severities=CRITICAL%2CMINOR

[2021-11-10 22:50] #81 closed

[2021-11-17 23:07] #130 closed

[2021-11-17 23:21] Siemienik commented on #52
connected with #196

[2021-12-12 21:55] #73 closed

[2022-02-01 22:05] Siemienik commented on #95
Hi @skypesky. I'm glad that you're asking.

Yes, the reproduction could be found in this commit: https://github.com/Siemienik/xlsx-renderer/commit/9a87732

[2022-02-01 23:10] Siemienik commented on #84
Current project board: https://github.com/users/Siemienik/projects/2/views/1

[2022-02-01 23:49] Siemienik opened #206 "Update vulnerable devDependency"
The issue followed by: https://github.com/igorshubovych/markdownlint-cli/issues/257

It requires upgrading `markdown-cli` dependency after release.

Security alerts:

* https://github.com/Siemienik/XToolset/security/dependabot/packages/xlsx-import-cli/package-lock.json/markdown-it/open
* https://github.com/Siemienik/XToolset/security/dependabot/packages/xlsx-renderer-cli/package-lock.json/markdown

[2022-02-05 10:38] #206 closed

[2022-02-07 14:14] skypesky commented on #95
@Siemienik
I ran the branch test and have seen the error. [f/37-vertical-merged-cells](https://github.com/Siemienik/xlsx-renderer/tree/f/37-vertical-merged-cells).
The implementation of this part seems to be the most complex(`ForeachCell`). I plan to spend some time studying it.

[2022-02-08 00:27] Siemienik commented on #95
I'll keep my fingers crossed. if any help is needed you can find me as always on the Gitter

[2022-03-15 11:42] TheNoim opened #210 "[BUG] #! DUMP_COLS should shift columns"
I expect `DUMP_COLS` to shift the columns to the right, so that you can write templates after the `DUMP_COLS` statement.

Here is a small reproduction of what I mean:

[issue.xlsx](https://github.com/Siemienik/XToolset/files/8252819/issue.xlsx)
[dump-cols-issue-template.xlsx](https://github.com/Siemienik/XToolset/files/8252836/dump-cols-issue-template.xlsx)

mode.json

[code]

[2022-06-21 08:30] Siemienik commented on #210
Sorry for no progress with this bug, I'm totally busy in 2022. Hope to be better in this matter soon.

[2022-08-23 16:21] jthomas opened #216 "Rich text support for cell templates"
Hello,

ExcelJS support Rich Text formatting for cell contents, e.g. **bold** **text** within a cell rather than the whole cell text being bold. I've been trying to see if the `xlsx-renderer` package can support model values with rich text - is this possible? I've read over the docs and examples but I'm thinking this isn't currently supported. Just wanted to check before I tried to workaround the

[2022-11-19 14:24] sagungargs15 opened #219 "Sample Example for Frontend: ReactJS + TS with Invoice Example"
Hi @Siemienik Please can you point to the example where TS + ReactJS is used for frontend. Invoice example will also do

[2022-11-19 16:41] Siemienik commented on #219
Hello @sagungargs15 , which library are you interested?
Example for xlsx-import is here: https://github.com/Siemienik/XToolset-examples/tree/master/xlsx-import%2Breact

For xlsx-renderer could be found in the [tests dir](https://github.com/Siemienik/XToolset/tree/master/packages%2Fxlsx-renderer%2Ftests%2Fintegration%2Fdata).
Some discussion about using it under browser was here:
https://github.com

[2022-11-30 15:30] sagungargs15 commented on #219
@Siemienik Thanks for sharing this. I have run into Browser based issues on excelJS library throwing errors

I am using ReactJS + Typescript and I keep getting errors at the **Load** stage

i.e
`await wb.xlsx.load(reader.result as ArrayBuffer);`

REFERENCE CODE:
[code]

Reference Tickets I have raised:
https://github.com/exceljs/exceljs/issues/810#issuecomment-1332314449